@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Kod: <a href="https://bitbucket.org/programiscids6/konferencje-audio-video-pz16">https://bitbucket.org/programiscids6/konferencje-audio-video-pz16</a> 