
@{
    ViewBag.Title = "RoomPassword";
}

<h2>Pokój zabezpieczony hasłem</h2>

<form action="/?@ViewBag.roomName" method="post">
    Podaj hasło: <input type="text" name="password"><br>
    <input type="submit" value="Zatwierdź">
</form> 
