@{
    ViewBag.Title = "Kontakt";
}
@if (Request.IsAuthenticated)
{
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Kod:</p> <a href="https://bitbucket.org/programiscids6/konferencje-audio-video-pz16">https://bitbucket.org/programiscids6/konferencje-audio-video-pz16</a> 

}else
{
<div class="jumbotron">
    <h1>Wideo-Konferencje</h1>
    <p class="lead">Aby korzystać z usług naszego serwisu musisz się zarejestrować lub zalogować na istniejące konto</p>
    <p><a class="btn btn-default" href=@Url.Action("Register", "Account")>Rejestracja</a></p>
    <p><a class="btn btn-default" href=@Url.Action("Login", "Account")>Zaloguj</a></p>
</div>
}